.board {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  padding: 2px;
  min-width: 20px;
  min-height: 20px;
  background-color: #C2BFC2;
  border-top: 3px solid #F5F2F6;
  border-bottom: 3px solid #747174;
  border-left: 3px solid #FBF9FB;
  border-right: 3px solid #777478;
  text-align: center;
  font-weight: bolder;
}

.tile__explored {
  background-color: #C0C0C0;
  border: 1px solid #8F9291;
  padding: 4px;
}
