.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  padding: 2px;
  min-width: 20px;
  min-height: 20px;
  background-color: #C2BFC2;
  border: 3px solid lightgray;
  border-style: outset;
  text-align: center;
  font-weight: bolder;
}

.tile__explored {
  background-color: #C0C0C0;
  border: 1px solid #8F9291;
  padding: 4px;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: lightgray;
  display: none;
}

.modal--visible {
  display: block;
  animation: modal-drop 100ms linear;
}

@keyframes modal-drop {
  from {top: -10%;}
  to {top: 50%;}
}


